<div class="banner-info">
    <div class="col-md-7 header-right">
        <h1>Hi !</h1>
        <h6>Mobile & Web App Developer</h6>
        <ul class="address">

            <li>
                <ul class="address-text">
                    <li><b>NAME</b></li>
                    <li>Aman kumar</li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>D.O.B</b></li>
                    <li>09-11-1989</li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>PHONE </b></li>
                    <li>+91 844 004 4566</li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>ADDRESS </b></li>
                    <li>vill. chandanpur ,saharanpur </li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>E-MAIL </b></li>
                    <li><a href="mailto:amanssit@gmail.com">amanssit@gmail.com</a></li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>WEBSITE </b></li>
                    <li><a href="http://amankashyap.cu.cc">www.amankashyap.cu.cc</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="col-md-5 header-left">
        <img src="img/aman.jpg" alt="">
    </div>
    <div class="clearfix"> </div>

</div>